body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}

.header__box {
  background-color: $form_background-color;
  border-bottom: 0.5px solid #D3D3D3;
  &__logo--image {
    width: 150px;
  }
  .header__box__list__each {
    a {
      font-size: 17px;
    }
  }
  
  .input-group {
    width: 300px;
    .form-control {
      border-radius: .25rem;
      margin: 0 5px 0 0;
    }
    .btn-default {
      background-color: #6495ED;
      color: $font-color;
    }
  }
}

.footer {
  height: 56px;
  background-color: $form_background-color;
  border-top: 0.5px solid #D3D3D3;
  &__item {
    line-height: 56px;
    text-align: center;
    .item-p {
      margin: 0;
    }
  }
}

.alert {
  text-align: center;
}