// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Top
.main {
  display: flex;
  flex: 1;
  &__content {
    flex: 1;
    &__title {
      margin: 15px;
      text-align: center;
      color: #495057;
      .fa-clone {
        margin-right: 5px;
      }
    }
    &__box {
      padding: 15px;
      & a {
        text-decoration: none;
        color: #495057;
      }
      &__field {
        height: 250px;
        padding: 0 5px;
        border: 1px #000 solid;
        background-color: #fff;
        box-shadow: 10px 10px 15px -10px;
        position: relative;
        &__user {
          display: flex;
          justify-content: space-between;
          font-size: 8px;
          border-bottom: 0.5px #b0c4de solid;
          height: 30px;
          line-height: 30px;
          & span {
            .user_icon {
              width: 30px;
              height: 30px;
            }
          }
          &--name {
            font-size: 12px;
            margin-right: auto;
          }
        }
        &--title {
          text-align: center;
          p {
            margin: auto;
            padding: 5px;
          }
        }
        &--comment {
          position: absolute;
          bottom: 0;
          color: #A9A9A9;
        }
      }
    }
  }
}

// 新規投稿
.new_post {
  flex: 1;
  .form__title {
    height: 50px;
    color: #495057;
    text-align: center;
    margin-top: 15px;
  }
  .new__form {
    margin-bottom: 20px;
    &__box {
      padding: 10px;
      border: 1px #000 solid;
      background-color: #fff;
      box-shadow: 10px 10px 15px -10px;
      span {
        background: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
      }
      .form-optional {
        background: #bfbfbfbb;
      }
      &__image {
        margin: 0 0 15px 0;
        .custom-file {
          overflow: hidden;
        }
        .custom-file-label {
          white-space: nowrap;
        }
      }
      #content-box--text {
        height: 200px;
      }
      .btn-primary {
        @include btn-active();
      }
    }
  }
}

// お知らせ画面
.confirmation_page {
  flex: 1;
  &__box {
    padding: 10px;
    border: 1px #000 solid;
    background-color: #fff;
    box-shadow: 10px 10px 15px -10px;
    margin: 15px;
    &__title {
      height: 70px;
      text-align: center;
      margin-top: 50px;
    }
    &__btn {
      background-color: #6495ED;
      color: #fff;
    }
  }
}

// 投稿詳細画面
.post_show {
  flex: 1;
  &__details{
    display: flex;
    justify-content: flex-end;
    & a {
      margin: 5px;
      width: 60px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border-radius: 5px;
      background-color: #6495ED;
      color: #fff;
      text-decoration : none
    }
  }
  &__area {
    display: flex;
    justify-content: space-between;
    &__user {
      &__link {
        color: #495057;
        text-decoration: none;
        .user_icon {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  .show__box {
    & i {
      color: #1E90FF;
    }
    &__content__list {
      background-color: #fff;
      border: 0.5px #b0c4de solid;
      border-radius: 5px;
      padding: 5px;
    }
    .body_height {
      height: 250px;
    }
    &__image {
      
    }
  }
}