// 新規登録
.sign_up {
  flex: 1;
  &__title {
    height: 50px;
    color: #495057;
    margin: 15px auto 0;
  }
  .user_form {
    margin-bottom: 20px;
    &__inner {
      padding: 10px;
      background-color: #fff;
      &__box {
        &--input {
          border: 1px #ccc solid;
          border-radius: 4px;
          width: 100%;
          padding: 0 5px;
        }
        span {
          background: #ea352d;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
        }
        .form-optional {
          background: #bfbfbfbb;
        }
        .custom-file {
          overflow: hidden;
        }
        .custom-file-label {
          white-space: nowrap;
        }
      }
      .btn-primary {
        @include btn-active();
      }
    }
  }
}

// ログイン
.login {
  flex: 1;
  &__title {
    height: 50px;
    color: #495057;
    margin: 15px auto 0;
  }
  .user_form {
    margin-bottom: 20px;
    &__inner {
      padding: 10px;
      background-color: #fff;
      &__box {
        &--input {
          border: 1px #ccc solid;
          border-radius: 4px;
          width: 100%;
          padding: 0 5px;
        }
      }
      .btn-primary {
        @include btn-active();
      }
    }
  }
}

// user詳細画面
.user_show {
  flex: 1;
  .user_top {
    &__icon {
      text-align: center;
      &--image{
        width: 150px;
        height: 150px;
      }
    }
    &__item {
      padding: 30px 15px;
      &__name {
        font-size: 30px;
      }
      &__edit {
        text-decoration : none;
        & p {
          width: 60px;
          height: 30px;
          margin: 0;
          text-align: center;
          line-height: 30px;
          border-radius: 5px;
          background-color: #6495ED;
          color: #fff;
        }
      }
    }
  }

  .nav-tabs {
    .nav-link {
      color: #495057;
    }
  }
}