// 新規登録
.sign_up {
  flex: 1;
  &__title {
    height: 50px;
    color: $title-color;
    margin: 15px auto 0;
  }
  .user_form {
    margin-bottom: 20px;
    &__inner {
      padding: 10px;
      background-color: $form_background-color;
      &__box {
        &--input {
          border: 1px #ccc solid;
          border-radius: 4px;
          width: 100%;
          padding: 0 5px;
        }
        span {
          @include guide-required();
        }
        .form-optional {
          background: #bfbfbfbb;
        }
        .custom-file {
          overflow: hidden;
        }
        .custom-file-label {
          white-space: nowrap;
        }
      }
      .btn-primary {
        @include btn-active();
      }
    }
  }
}

// ログイン
.login {
  flex: 1;
  &__title {
    height: 50px;
    color: $title-color;
    margin: 15px auto 0;
  }
  .user_form {
    margin-bottom: 20px;
    &__inner {
      padding: 10px;
      background-color: $form_background-color;
      &__box {
        &--input {
          border: 1px #ccc solid;
          border-radius: 4px;
          width: 100%;
          padding: 0 5px;
        }
      }
      .btn-primary {
        @include btn-active();
      }
    }
  }
}

// user詳細画面
.user_show {
  flex: 1;
  .user_top {
    &__icon {
      text-align: center;
      &--image{
        width: 150px;
        height: 150px;
      }
    }
    &__item {
      padding: 30px 15px;
      &__name {
        font-size: 30px;
      }
      &__edit {
        text-decoration : none;
        & p {
          width: 60px;
          height: 30px;
          margin: 0;
          text-align: center;
          line-height: 30px;
          border-radius: 5px;
          background-color: #6495ED;
          color: $font-color;
        }
      }
    }
  }

  .nav-tabs {
    .nav-link {
      color: $title-color;
    }
  }
}

.show_follower {
  padding: 10px 0;
  border-bottom: 1px #dee2e6 solid;
  display: flex;
  justify-content: space-between;
  & a {
    color: $title-color;
    text-decoration: none;
  }
  &__user_icon {
    width: 70px;
    height: 70px;
  }
  &__follow-btn {
    display: flex;
    align-items: center;
  }
}