<div class="row confirmation_page">
  <div class="col-md-6 offset-md-3">
    <div class="confirmation_page__box">
      <h2 class="confirmation_page__box__title">
        削除しました
      </h2>
      <div class="form-group text-center">
        <a class="btn confirmation_page__box__btn" href="/"> 募集一覧へ戻る</a>
      </div>
    </div>
  </div>
</div>