<div class="main">
  <div class="container main__content">
    <div class="main__content__title">
      <p>ゲーム専用のメンバー募集サイト "PLAY GAMES"</p>
      <h2 class="title_name">
        <%= icon("far", "clone") %>
        <span>新着募集</span>
      </h2>
    </div>
    <%= render "post", posts: @posts %>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <%= paginate(@posts) %>
      </div>
    </div>
  </div>
</div>